{% include 'partials/_head.html' with title="Projetos" %}
{% include 'partials/_header.html' %}
{% include 'partials/_dev.html' %}
<main class="project-main">
    <div class="project-controller">
        <div class="project-header">
            <h1 class="project-title">{{projeto.nome}}</h1>
            <p class="project-subtitle">{{projeto.resumo}}</p>
        </div>
        {% if projeto.imagem_inicio.url %}
        <div class="project-image-container">
            <img src="{{projeto.imagem_inicio.url}}" alt="Visão geral do Projeto Inovador" class="project-image">
        </div>
        {% endif %}

        <div class="project-details">
            <div class="project-info">
                <div class="project-description">
                    {{ projeto.texto|safe }}
                </div>
                <div class="tech-stack">
                    {% for skill in skills %}
                        <span class="tech-tag">{{skill.name}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="project-meta">
                <div class="meta-item">
                    <span class="meta-label">Data de Início:</span>
                    <span>{{projeto.data_inicio}}</span>
                </div>
                <div class="meta-item">
                    <span class="meta-label">Data de Conclusão:</span>
                    <span>{{projeto.data_fim}}</span>
                </div>
                <div class="meta-item">
                    <span class="meta-label">Cliente:</span>
                    <span>{{projeto.cliente}}</span>
                </div>
                <div class="meta-item">
                    <span class="meta-label">Categoria:</span>
                    <span>{{projeto.categoria_projeto}}</span>
                </div>
            </div>
        </div>

        <section class="project-gallery">
            <h2 class="gallery-title">Galeria do Projeto</h2>
            <div class="gallery-grid">
                <div class="gallery-item">
                    {% if projeto.imagem_galeria_1 %}
                    <img src="{{projeto.imagem_galeria_1.url}}" alt="imagem_projeto">
                    {% endif %}  
                </div>
                <div class="gallery-item">
                    {% if projeto.imagem_galeria_2 %}
                    <img src="{{projeto.imagem_galeria_2.url}}" alt="imagem_projeto">
                    {% endif %}
                </div>
                <div class="gallery-item">
                    {% if projeto.imagem_galeria_3 %}
                    <img src="{{projeto.imagem_galeria_3.url}}" alt="imagem_projeto">
                    {% endif %}
                </div>
                <div class="gallery-item">
                    {% if projeto.imagem_galeria_4 %}
                    <img src="{{projeto.imagem_galeria_4.url}}" alt="imagem_projeto">
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
</main>

{% include 'partials/_footer.html' %}
