{% include 'partials/_head.html' with title="Projetos" %}
{% include 'partials/_header.html' %}
{% include 'partials/_dev.html' %}
<div class="container-listagem">
    <div class="limitador">

        <div class="project-header">
            <h1>Portfólio de Projetos</h1>
            <p class="subtitle">Explorando o futuro através da tecnologia</p>
        </div>
        
        <main>
            <nav class="category-nav" aria-label="Categorias de Projetos">
                <a href="{% url 'listagem_projeto' %}" class="category-btn" aria-pressed="true">
                    <span>Todos</span>
                </a>
                {% for categoria in categorias %}
                    <a href="{% url 'listagem_projeto_categoria' categoria.id %}" class="category-btn" aria-pressed="false">
                            <span>{{categoria.nome}}</span>
                    </a>
                {% endfor %}
            </nav>
            
            <section class="projects-grid">
                {% for projeto in projetos %}
                <article class="project-card">
                    {% if projeto.imagem_inicio and projeto.imagem_inicio.url %}
                    <img src="{{ projeto.imagem_inicio.url }}" alt="{{ projeto.nome }}" class="project-image lazy">
                    {% endif %}
                    <div class="project-info">
                        <h2 class="project-title">{{ projeto.nome }}</h2>
                        <p class="project-description">{{ projeto.resumo }}</p>
                        <div class="project-tags">
                            {% for skill in projeto.skills.all %}
                                <span class="tag">{{ skill.name }}</span>
                            {% endfor %}
                        </div>
                        <a href="{% url 'projeto' projeto.id %}" class="view-project">Ver Projeto</a>
                    </div>
                </article>
                {% endfor %}
                
            

        </section>
        <div class="pagination">
            <span class="step-links">
                {% if insight.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ insight.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ insight.number }} of {{ insight.paginator.num_pages }}.
                </span>
        
                {% if insight.has_next %}
                    <a href="?page={{ insight.next_page_number }}">next</a>
                    <a href="?page={{ insight.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        </section>

        <div class="loading-spinner" id="loadingSpinner" style="display: none;"></div>
    </main>
</div>
</div>
{% include 'partials/_footer.html' %}
